<script setup>
import { Head, Link } from '@inertiajs/vue3'
import Layout from '@/Layouts/ClientLayout.vue'

defineProps({
    canLogin: Boolean,
    canRegister: Boolean,
    laravelVersion: String,
    phpVersion: String,
})
</script>

<template>
    <Head title="Welcome" />

    <Layout>
        <section
            class="flex h-full w-full flex-col items-center justify-center space-y-8 md:space-y-12 lg:space-y-24"
        >
            <Link
                href="/ai/dtl-airport"
                method="get"
                as="button"
                class="btn animate-pulsing-yellow bg-[#ff6d01] shadow-[0_0_0_0_rgba(255, 109, 1, .7)]"
            >
                <svg
                    class="w-10 fill-white"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 96 960 960"
                >
                    <path
                        d="M272.693 646.615h250.538q8.923 0 15.307-6.567t6.384-16.307q0-9.741-6.514-16.125-6.514-6.385-16.177-6.385H271.693q-8.923 0-15.308 6.752-6.384 6.753-6.384 16.308t6.514 15.939q6.514 6.385 16.178 6.385Zm0-127.308h415.614q8.923 0 15.308-6.567 6.384-6.566 6.384-16.307 0-9.74-6.514-16.125-6.514-6.384-16.178-6.384H271.693q-8.923 0-15.308 6.752-6.384 6.752-6.384 16.307t6.514 15.94q6.514 6.384 16.178 6.384Zm0-127.307h415.614q8.923 0 15.308-6.567 6.384-6.567 6.384-16.307 0-9.741-6.514-16.125-6.514-6.385-16.178-6.385H271.693q-8.923 0-15.308 6.752-6.384 6.753-6.384 16.308t6.514 15.939Q263.029 392 272.693 392ZM100.001 868.228V253.694q0-23 17.082-40.346 17.082-17.347 40.611-17.347h644.612q23 0 40.346 17.347 17.347 17.346 17.347 40.346v484.612q0 23-17.347 40.346-17.346 17.347-40.346 17.347H241.539l-92.461 92.46q-13.615 13.615-31.346 6.271-17.731-7.343-17.731-26.502Zm45.384-40.69 76.923-76.923h579.998q5.385 0 8.847-3.462 3.462-3.462 3.462-8.847V253.694q0-5.385-3.462-8.847-3.462-3.462-8.847-3.462H157.694q-5.385 0-8.847 3.462-3.462 3.462-3.462 8.847v573.844Zm0-573.844v-12.309 586.153-573.844Z"
                    />
                </svg>
                <p class="text-white">OPEN CHAT</p>
            </Link>

            <Link
                :href="route('demo.wayfinding')"
                method="get"
                as="button"
                class="btn animate-pulsing-blue bg-[#015c68] shadow-[0_0_0_0_rgba(1, 92, 104, .7)]"
            >
                <svg
                    class="w-10 md:w-12 fill-white"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 96 960 960"
                >
                    <path
                        d="M480 616q-17 0-28.5-11.5T440 576q0-17 11.5-28.5T480 536q17 0 28.5 11.5T520 576q0 17-11.5 28.5T480 616Zm.067 339.999q-78.221 0-147.397-29.92-69.176-29.92-120.989-81.71-51.814-51.791-81.747-120.936-29.933-69.146-29.933-147.366 0-78.836 29.92-148.204 29.92-69.369 81.71-120.682 51.791-51.314 120.936-81.247 69.146-29.933 147.366-29.933 78.836 0 148.204 29.92 69.369 29.92 120.682 81.21 51.314 51.291 81.247 120.629 29.933 69.337 29.933 148.173 0 78.221-29.92 147.397-29.92 69.176-81.21 120.989-51.291 51.814-120.629 81.747-69.337 29.933-148.173 29.933ZM480 910.615q139.692 0 237.154-97.769Q814.615 715.077 814.615 576q0-139.692-97.461-237.154Q619.692 241.385 480 241.385q-139.077 0-236.846 97.461Q145.385 436.308 145.385 576q0 139.077 97.769 236.846T480 910.615ZM480 576ZM318.386 757.999l217.921-112.615q4.231-1.615 7.346-4.731 3.116-3.115 5.116-7.731l112.615-217.921q5.384-10-2.539-17.692-7.923-7.693-17.846-2.693L423.078 507.231q-4.616 2-7.731 5.116-3.116 3.115-4.731 7.346L298.001 737.614q-5.385 10.385 2.308 18.077 7.692 7.693 18.077 2.308Z"
                    />
                </svg>
                <p class="text-white">Open Wayfinding</p>
            </Link>
        </section>
    </Layout>
</template>
