<script setup>
import { ref } from 'vue'
import { Link } from '@inertiajs/vue3'
import useEmitter from '@/Composables/useEmitter'
import ConfirmationModal from '../Components/ConfirmationModal.vue'

const emitter = useEmitter()

const showConfirmationModal = ref(false)

defineProps({
    canLogin: Boolean,
    canRegister: Boolean,
    laravelVersion: String,
    phpVersion: String,
})

function toggleConfirmationModal() {
    showConfirmationModal.value = !showConfirmationModal.value
}

function clearChat() {
    showConfirmationModal.value = false
    emitter.emit('clearChat')
}

function back() {
    window.history.back()
    return false;
}
</script>

<template>
    <div
        class="flex h-[100dvh] flex-col bg-gray-100 bg-[url('/images/bg.jpg')] bg-cover bg-center"
        style="min-height: -webkit-fill-available"
    >
        <header
            class="w-full px-8 py-4 border-b border-b-black border-opacity-20 bg-black/20"
        >
            <div
                class="m-auto flex w-full max-w-6xl items-center justify-between"
            >
                <div>
                    <Link href="/">
                        <img
                            class="w-24 md:w-32"
                            src="/images/logo.svg"
                            alt="Client Logo"
                        />
                    </Link>
                </div>
                <div>
                    <button
                        v-if="$page.url.startsWith('/ai')"
                        @click="toggleConfirmationModal"
                        class="rounded-md bg-[#FFC52F] mx-1 md:mx-2 px-2 md:px-4 py-1 md:py-2 text-black text-xs md:text-base outline-none transition-all duration-150 ease-linear hover:scale-105"
                    >
                        Clear Chat
                    </button>
                    <button
                        v-if="$page.url.startsWith('/ai') || $page.url.startsWith('/wayfinding')"
                        @click="back"
                        class="rounded-md bg-white bg-opacity-90 mx-1 md:mx-2 px-2 md:px-4 py-1 md:py-2 text-black text-xs md:text-base outline-none transition-all duration-150 ease-linear hover:scale-105"
                    >
                        &lAarr; Back
                    </button>
                </div>
            </div>
        </header>
        <Transition name="slide-fade" mode="out-in" appear>
            <div class="w-full flex-1 overflow-y-auto">
                <slot />
            </div>
        </Transition>
        <footer
            class="w-full px-8 py-4 text-white border-t border-t-black border-opacity-20 bg-black/20"
        >
            <div
                class="m-auto flex w-full max-w-6xl items-center justify-center"
                :class="[
                    $page.url.startsWith('/ai')
                        ? 'md:justify-center'
                        : 'md:justify-between',
                ]"
            >
                <img
                    v-if="!$page.url.startsWith('/ai')"
                    src="/images/qr.png"
                    class="hidden w-24 text-white md:block"
                    alt="QR Code"
                />
                <!-- Powered by wayble logo -->
                <a
                    href="https://waybleapp.com/"
                    target="_blank"
                    aria-label="Powered by wayble, click here to learn more"
                >
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="w-48 md:w-64 text-white"
                        fill="currentColor"
                        viewBox="0 0 276 48"
                    >
                        <path
                            d="M8.75 31.75c-.63-.01-1.23-.15-1.8-.41s-1.02-.65-1.37-1.2l-1.03 5.65H3.34L6 20.44h1.12L6.83 22c.96-1.22 2.17-1.81 3.62-1.78 1.04.02 1.85.42 2.43 1.16.58.75.88 1.8.9 3.17.01.43-.01.85-.06 1.25l-.04.29c-.17 1.2-.49 2.23-.96 3.09-.47.87-1.05 1.52-1.72 1.94-.67.45-1.42.65-2.25.63zm3.77-5.92.06-.97c.02-1.09-.18-1.95-.6-2.57s-1.04-.94-1.85-.97c-.72-.01-1.37.16-1.95.52-.59.36-1.08.9-1.48 1.59l-.91 5.33c.21.63.57 1.1 1.04 1.43s1.04.5 1.7.52c1 .03 1.83-.33 2.51-1.11.68-.77 1.15-1.85 1.39-3.24zm3.26.07c.13-1.07.45-2.05.98-2.94.54-.89 1.2-1.57 1.99-2.03s1.66-.68 2.59-.66c.91.01 1.69.27 2.34.75.64.49 1.11 1.16 1.41 2 .3.85.4 1.78.3 2.8l-.01.18c-.2 1.74-.82 3.16-1.86 4.21-1.04 1.06-2.28 1.57-3.72 1.54-1.24-.02-2.24-.48-2.99-1.37-.75-.9-1.11-2.08-1.09-3.54l.03-.59zm1.19.34c-.09.81-.03 1.56.18 2.25.2.68.55 1.22 1 1.62.46.39 1.03.59 1.71.62.74.01 1.41-.17 2.02-.57.61-.39 1.11-.94 1.51-1.65s.65-1.5.77-2.35l.03-.34c.13-1.32-.07-2.4-.61-3.23-.52-.83-1.29-1.26-2.3-1.28-1.09-.03-2.03.39-2.84 1.26-.79.88-1.28 2.04-1.46 3.5zm13.04 2.75v.87l.4-.95 4.05-8.45h1.05l1.09 8.48.06 1.05.42-1.06 3.67-8.47h1.31L37 31.55h-1.05l-1.22-8.79-.01-.62-.24.62-4.24 8.78h-1.05l-1.18-11.09 1.15-.01zm16.82 2.75c-.89-.01-1.66-.26-2.3-.74s-1.12-1.13-1.43-1.97c-.3-.83-.41-1.72-.32-2.69l.03-.35c.1-1.03.4-2 .91-2.92s1.16-1.64 1.95-2.12c.78-.49 1.63-.72 2.53-.71.82.01 1.52.24 2.1.67.57.44.98 1.05 1.24 1.82.26.78.34 1.64.25 2.58l-.09.75h-7.67l-.03.25c-.11.75-.04 1.46.16 2.14.21.67.56 1.22 1.04 1.62s1.06.61 1.73.62c.65.02 1.24-.11 1.78-.37.52-.28 1.01-.64 1.46-1.09l.72.59c-.5.64-1.09 1.12-1.78 1.46-.71.32-1.46.48-2.28.46zm1.29-10.45c-.89-.03-1.68.28-2.39.94s-1.23 1.59-1.58 2.79l6.43.01.03-.15c.12-.97-.04-1.81-.51-2.5-.47-.7-1.13-1.07-1.98-1.09zm11.7.2a5.6 5.6 0 0 0-.81-.1c-.78 0-1.49.24-2.14.72a3.47 3.47 0 0 0-1.31 1.81l-1.32 7.62h-1.21l1.93-11.09h1.2l-.36 1.77c.41-.65.89-1.16 1.46-1.5s1.2-.5 1.88-.49c.24 0 .51.04.85.14zm4.37 10.25c-.89-.01-1.66-.26-2.3-.74-.65-.48-1.12-1.13-1.43-1.97-.3-.83-.41-1.72-.32-2.69l.03-.35c.1-1.03.4-2 .91-2.92s1.16-1.64 1.95-2.12c.78-.49 1.63-.72 2.53-.71.82.01 1.52.24 2.1.67.57.44.98 1.05 1.24 1.82.26.78.34 1.64.25 2.58l-.09.75h-7.68l-.03.25c-.11.75-.04 1.46.16 2.14.21.67.56 1.22 1.04 1.62s1.06.61 1.73.62c.65.02 1.24-.11 1.78-.37.52-.28 1.01-.64 1.46-1.09l.72.59c-.5.64-1.09 1.12-1.78 1.46-.7.32-1.45.48-2.27.46zm1.29-10.45c-.89-.03-1.68.28-2.39.94s-1.23 1.59-1.58 2.79l6.43.01.03-.15c.12-.97-.04-1.81-.51-2.5-.47-.7-1.13-1.07-1.98-1.09zm5.42 4.67c.16-1.16.47-2.19.95-3.09s1.06-1.56 1.76-2 1.47-.64 2.33-.62c.65.01 1.25.16 1.8.46.54.29.96.73 1.28 1.32l1.12-6.22h1.21l-2.74 15.73h-1.13l.28-1.48c-.96 1.16-2.16 1.72-3.59 1.68-1.03-.02-1.84-.43-2.42-1.2-.59-.77-.89-1.82-.92-3.12-.01-.43 0-.83.05-1.23zm1.22.21c-.05.46-.07.94-.06 1.47.03.93.25 1.67.65 2.2s.98.81 1.73.85c.76.02 1.42-.15 2-.52.58-.36 1.06-.86 1.46-1.48l.89-5.21c-.2-.66-.52-1.18-.97-1.56-.45-.37-1.04-.58-1.73-.6-1.04-.03-1.9.36-2.6 1.19-.7.82-1.13 1.98-1.34 3.45zm24.38-.13c-.24 1.77-.8 3.16-1.68 4.2-.89 1.04-1.98 1.54-3.29 1.51-.73-.01-1.36-.17-1.9-.48-.55-.31-.97-.73-1.26-1.25l-.35 1.52h-1.15l2.74-15.73h1.21l-1.16 6.26c.95-1.25 2.15-1.85 3.6-1.81 1.06.02 1.87.42 2.45 1.18s.87 1.81.89 3.15c.01.44-.01.86-.06 1.26zm-1.2-.23.07-.97c.02-1.11-.17-1.97-.59-2.58-.41-.61-1.02-.92-1.83-.95-1.5-.02-2.66.73-3.51 2.27l-.85 5.01c.19.66.54 1.17 1.02 1.53.48.35 1.07.55 1.76.57 1.02.02 1.87-.37 2.56-1.18s1.15-2.04 1.37-3.7zm6.54 3.93 4.74-9.28h1.36l-6.76 12.86c-.5 1-1.03 1.7-1.58 2.12-.56.42-1.18.62-1.86.6-.26-.01-.59-.06-.98-.16l.12-1.01.61.07c1.15.04 2.05-.63 2.72-2.02l.78-1.55-2.14-10.92h1.28zm166.67-17.07v.45h-.87v2.28h-.55v-2.28h-.87v-.45zm2.94 2.73-.1-1.61c-.01-.21-.01-.47-.02-.76h-.03c-.07.24-.15.56-.24.81l-.49 1.51h-.56l-.49-1.55c-.05-.21-.13-.54-.19-.77h-.03c0 .25-.01.51-.02.76l-.1 1.61h-.52l.2-2.73h.81l.47 1.34c.06.21.11.41.18.7h.01c.07-.25.13-.48.19-.68l.47-1.34h.78l.21 2.73h-.55v-.02zm-117.04-2.72h-2.16c-.46 0-.83.37-.83.83v13.14c0 .72-.14 1.4-.41 2.03s-.64 1.18-1.1 1.65c-.47.47-1.02.83-1.65 1.1s-1.31.41-2.03.41-1.39-.14-2.01-.41-1.17-.64-1.65-1.1c-.48-.47-.86-1.02-1.12-1.65-.27-.63-.41-1.31-.41-2.03V13.51c0-.46-.37-.83-.83-.83h-2.16c-.46 0-.83.37-.83.83v13.14c0 .72-.14 1.4-.41 2.03s-.64 1.18-1.1 1.65c-.47.47-1.02.83-1.65 1.1s-1.31.41-2.03.41-1.39-.14-2.01-.41-1.16-.64-1.63-1.1c-.47-.47-.83-1.02-1.1-1.65s-.41-1.31-.41-2.03V13.51c0-.46-.37-.83-.83-.83h-2.2c-.46 0-.83.37-.83.83v13.14c0 1.23.24 2.4.72 3.5s1.12 2.05 1.94 2.87c.81.81 1.77 1.46 2.87 1.94s2.26.72 3.5.72c1.44 0 2.78-.31 4.01-.92.95-.47 1.78-1.08 2.48-1.82.33-.34.87-.35 1.2-.01a9.8 9.8 0 0 0 2.53 1.83c1.22.62 2.55.92 3.99.92 1.23 0 2.4-.25 3.5-.72 1.1-.48 2.05-1.12 2.87-1.94.81-.81 1.46-1.77 1.94-2.87s.72-2.26.72-3.5V13.51c-.05-.46-.42-.83-.88-.83zm24.17 2.9c-1.07-1.07-2.32-1.9-3.77-2.53s-2.98-.92-4.6-.92-3.15.31-4.56.92c-1.41.62-2.65 1.46-3.72 2.53s-1.9 2.31-2.53 3.75c-.62 1.42-.92 2.95-.92 4.58s.31 3.15.92 4.58a11.85 11.85 0 0 0 2.53 3.72c1.07 1.05 2.31 1.88 3.72 2.5s2.93.92 4.56.92c1.53 0 2.96-.27 4.31-.79.81-.32 1.57-.72 2.28-1.19.56-.37 1.31.02 1.31.68 0 .46.37.83.83.83h2.26c.46 0 .83-.37.83-.83V23.89c0-1.63-.31-3.15-.92-4.58-.62-1.41-1.46-2.66-2.53-3.73zm-1.08 11.4c-.41.96-.96 1.8-1.67 2.5s-1.54 1.27-2.5 1.69-2 .63-3.11.63c-1.08 0-2.11-.21-3.07-.63s-1.8-.98-2.5-1.69c-.71-.71-1.27-1.54-1.69-2.5s-.63-1.98-.63-3.07.21-2.11.63-3.07.98-1.81 1.69-2.53 1.54-1.28 2.5-1.69 1.98-.61 3.07-.61c1.11 0 2.15.2 3.11.61s1.8.97 2.5 1.69c.71.72 1.26 1.56 1.67 2.53.41.96.61 1.98.61 3.07s-.2 2.1-.61 3.07zm24.85-14.36h-2.16c-.46 0-.83.37-.83.83V26.6c0 .72-.14 1.4-.41 2.03s-.64 1.18-1.1 1.65c-.47.47-1.02.83-1.65 1.1s-1.31.41-2.03.41-1.39-.14-2.01-.41-1.16-.64-1.63-1.1c-.47-.47-.83-1.02-1.1-1.65s-.41-1.31-.41-2.03V13.46c0-.46-.37-.83-.83-.83h-2.2c-.46 0-.83.37-.83.83v13.15c0 1.23.24 2.4.72 3.5s1.12 2.05 1.94 2.87c.81.81 1.77 1.46 2.87 1.94s2.26.72 3.5.72c.96 0 1.88-.14 2.75-.43.43-.14.83-.31 1.23-.5.56-.27 1.2.13 1.2.75v1.26c0 .72-.16 1.39-.47 2.01a5.647 5.647 0 0 1-3.2 2.77c-.51.19-1.05.31-1.62.36-.43.04-.75.4-.75.82v2.17c0 .48.42.88.9.83 1.05-.07 2.04-.3 2.99-.66 1.2-.47 2.25-1.1 3.14-1.92a9.06 9.06 0 0 0 2.1-2.87c.51-1.1.77-2.28.77-3.54V13.46c-.04-.46-.42-.84-.88-.84zm24.5 3.03a12.105 12.105 0 0 0-3.77-2.5c-1.44-.62-2.98-.92-4.6-.92-1.51 0-2.93.28-4.28.83-.82.34-1.59.75-2.3 1.22-.56.37-1.31-.01-1.31-.68V3.09c0-.46-.37-.83-.83-.83h-2.16c-.46 0-.83.37-.83.83v20.9c0 1.63.31 3.15.92 4.56.62 1.41 1.46 2.65 2.53 3.72s2.31 1.9 3.72 2.53c1.41.62 2.93.92 4.56.92s3.16-.31 4.6-.92c1.44-.62 2.7-1.46 3.77-2.53s1.9-2.31 2.53-3.72c.62-1.41.92-2.93.92-4.56s-.31-3.16-.92-4.6c-.65-1.44-1.49-2.69-2.55-3.74zm-1.09 11.41c-.41.96-.96 1.8-1.67 2.5-.71.71-1.54 1.27-2.5 1.69s-2 .63-3.11.63c-1.08 0-2.11-.21-3.07-.63s-1.8-.98-2.5-1.69c-.71-.71-1.27-1.54-1.69-2.5s-.63-1.98-.63-3.07c0-1.08.21-2.11.63-3.07s.98-1.81 1.69-2.53 1.54-1.28 2.5-1.69 1.98-.61 3.07-.61c1.11 0 2.15.2 3.11.61s1.8.97 2.5 1.69c.71.72 1.26 1.56 1.67 2.53.41.96.61 1.98.61 3.07s-.21 2.11-.61 3.07zm13.73 4.72a3.6 3.6 0 0 1-1.58-.66c-.64-.48-.97-1.07-.97-1.76V3.05c0-.46-.37-.83-.83-.83h-2.16c-.46 0-.83.37-.83.83v26.32c0 .88.19 1.69.57 2.46.37.77.89 1.43 1.53 2.01.64.57 1.4 1.03 2.26 1.35.59.22 1.21.37 1.86.45.48.05.91-.34.91-.83v-2.18a.916.916 0 0 0-.76-.85zm24.88-12.34c-.62-1.44-1.46-2.69-2.5-3.75-1.05-1.05-2.29-1.88-3.72-2.5-1.42-.62-2.95-.92-4.58-.92s-3.15.31-4.58.92c-1.42.62-2.68 1.46-3.75 2.5-1.07 1.05-1.9 2.3-2.53 3.75-.62 1.44-.92 2.98-.92 4.6s.31 3.15.92 4.56c.62 1.41 1.46 2.65 2.53 3.72.58.58 1.21 1.09 1.89 1.54.59.4 1.22.74 1.89 1.03 1.41.62 2.93.92 4.56.92s3.16-.31 4.6-.92c1.44-.62 2.7-1.46 3.77-2.53.73-.63 1.44-1.73 1.94-2.6a.833.833 0 0 0-.73-1.24h-2.61c-.26 0-.5.12-.65.32-.21.29-.45.56-.7.81-.71.71-1.54 1.27-2.5 1.69s-2 .63-3.11.63c-.93 0-1.82-.16-2.66-.47l.01-.02a7.84 7.84 0 0 1-2.24-1.26 9.037 9.037 0 0 1-1.71-1.89 7.14 7.14 0 0 1-.65-1.22.837.837 0 0 1 .77-1.17h17.35c.44 0 .8-.34.83-.78.01-.18.02-.32.02-.44v-.67c-.01-1.63-.32-3.16-.94-4.61zM260 22.1h-12.9c-.6 0-1.01-.62-.77-1.18.18-.42.4-.81.64-1.2.48-.74 1.05-1.37 1.71-1.89s1.4-.94 2.24-1.24c.82-.3 1.7-.45 2.64-.45.93 0 1.81.15 2.64.45.82.3 1.57.72 2.24 1.24.66.52 1.22 1.16 1.69 1.89.25.39.45.78.63 1.19a.841.841 0 0 1-.76 1.19z"
                        />
                    </svg>
                </a>
            </div>
        </footer>
        <ConfirmationModal :show="showConfirmationModal">
            <template #title>
                Are you sure you want to clear this chat?
            </template>
            <template #content>
                <p>This will remove all messages from the chat history.</p>
            </template>
            <template #footer>
                <button
                    type="button"
                    @click="showConfirmationModal = false"
                    class="inline-flex justify-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-slate-500 focus:ring-offset-2"
                >
                    Cancel
                </button>
                <button
                    type="button"
                    @click="clearChat"
                    class="ml-3 inline-flex justify-center rounded-md border border-transparent px-4 py-2 text-sm font-medium text-white shadow-sm bg-slate-600 hover:bg-slate-700 focus:outline-none focus:ring-2 focus:ring-slate-500 focus:ring-offset-2"
                >
                    Clear
                </button>
            </template>
        </ConfirmationModal>
    </div>
</template>

<style>
.slide-fade-enter-active {
    transition: all 0.3s ease-out;
}

.slide-fade-leave-active {
    transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter-from,
.slide-fade-leave-to {
    transform: translateX(20px);
    opacity: 0;
}
</style>
